<!-- Wappler include fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="test" appConnect="local" components="{dmxBootstrap5Modal:{}}" -->
<!-- Modal start -->
<div class="modal" gid="modal_Popup_Markets" id="modal_Popup_Markets" is="dmx-bs5-modal" tabindex="-1">
    <div class="modal-dialog" id="modal_dialog_Popup_Markets" role="document" style="max-width: 437.0px !important;">
        <div class="modal-content">
            <div id="Popup_Markets">
                <div fname="Polygon 2">
                    <svg fill="none" height="9" viewbox="0 0 35 9" width="35" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.3203 0L34.6408 9H-0.000196457L17.3203 0Z" fill="#11151F">
                        </path>
                    </svg>
                </div>
                <div fname="Frame 1707480549">
                    <div fname="Frame 1707480548">
                        <!-- Fixed Income -->
                        <div>
                            <div fname="Frame 1707480545">
                                <div fname="Icon">
                                    <div>
                                        <svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12 3C16.982 3 21 7.018 21 12C21 16.982 16.982 21 12 21C7.018 21 3 16.982 3 12C3 7.018 7.018 3 12 3Z" stroke="#8F97AB" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                                        </svg>
                                    </div>
                                </div>
                                <div fname="Frame 1707480551">
                                    <span fname="Fixed Income">
                                        Fixed Income
                                    </span>
                                    <span class="WEB_B3" fname="Description">
                                        We aim to provide the most comprehensive analytical coverage of this market segment in both hard and local currencies
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- Stock Markets -->
                        <div>
                            <div fname="Frame 1707480545">
                                <div fname="Icon">
                                    <div>
                                        <svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8 16V11M12 16V8M16 16V14M6 20H18C19.1046 20 20 19.1046 20 18V6C20 4.89543 19.1046 4 18 4H6C4.89543 4 4 4.89543 4 6V18C4 19.1046 4.89543 20 6 20Z" stroke="#8F97AB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                </div>
                                <div fname="Frame 1707480551">
                                    <span fname="Stock Markets">
                                        Stock Markets
                                    </span>
                                    <span class="WEB_B3" fname="Description">
                                        Our goal is to identify and deliver broad investment opportunities within emerging markets
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- Commodities -->
                        <div>
                            <div fname="Frame 1707480545">
                                <div fname="Icon">
                                    <div>
                                        <svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6 9.5L12 4L18 9.5M6 14.5L12 20L18 14.5" stroke="#8F97AB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                </div>
                                <div fname="Frame 1707480551">
                                    <span fname="Commodities">
                                        Commodities
                                    </span>
                                    <span class="WEB_B3" fname="Description">
                                        We focus on commodities as both a hedge against inflation and an opportunity to generate additional income
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- Private Equity -->
                        <div>
                            <div fname="Frame 1707480545">
                                <div fname="Icon">
                                    <div>
                                        <svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M16 3H21V8M18.5 21C15.4624 21 13 18.5376 13 15.5C13 12.4624 15.4624 10 18.5 10C21.5376 10 24 12.4624 24 15.5C24 18.5376 21.5376 21 18.5 21ZM10.5 8C10.5 9.38071 9.38071 10.5 8 10.5C6.61929 10.5 5.5 9.38071 5.5 8C5.5 6.61929 6.61929 5.5 8 5.5C9.38071 5.5 10.5 6.61929 10.5 8ZM8 21C8 21 5 21 5 18C5 15.6 6.5 14.5 8 14.5C9.5 14.5 11 15.6 11 18C11 21 8 21 8 21Z" stroke="#8F97AB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                </div>
                                <div fname="Frame 1707480551">
                                    <span fname="Private Equity">
                                        Private Equity
                                    </span>
                                    <span class="WEB_B3" fname="Description">
                                        We focus on companies that introduce innovative products and explore new market niches
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- Currencies -->
                        <div>
                            <div fname="Frame 1707480545">
                                <div fname="Icon">
                                    <div>
                                        <svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2Z" stroke="#8F97AB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M14.31 8L15.89 9.26C16.22 9.53 16.22 10.05 15.88 10.31L12 13.39" stroke="#8F97AB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M8 11V10C8 8.9 8.9 8 10 8H11.81" stroke="#8F97AB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M9.69 16C10.13 16.63 10.79 17 11.5 17C12.88 17 14 15.54 14 13.69C14 13.04 13.79 12.44 13.43 12" stroke="#8F97AB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                </div>
                                <div fname="Frame 1707480551">
                                    <span fname="Currencies">
                                        Currencies
                                    </span>
                                    <span class="WEB_B3" fname="Description">
                                        Orkendeu places a strong emphasis on Macro Research and political analysis to offer high-quality guidance
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- Cryptocurrencies -->
                        <div>
                            <div fname="Frame 1707480545">
                                <div fname="Icon">
                                    <div>
                                        <svg fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9 8.19995H13.5C14.3284 8.19995 15 8.87152 15 9.69995C15 10.5284 14.3284 11.2 13.5 11.2H9V8.19995Z" stroke="#8F97AB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M9 11.1999H14C14.8284 11.1999 15.5 11.8715 15.5 12.6999C15.5 13.5283 14.8284 14.1999 14 14.1999H9V11.1999Z" stroke="#8F97AB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M12 14.2V16.2" stroke="#8F97AB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M12 6.19995V8.19995" stroke="#8F97AB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="#8F97AB" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                </div>
                                <div fname="Frame 1707480551">
                                    <span fname="Cryptocurrencies">
                                        Cryptocurrencies
                                    </span>
                                    <span class="WEB_B3" fname="Description">
                                        We view investments in cryptocurrencies as a young yet promising alternative asset class
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->