:root {
--WEB_B4-font-family:Inter;
--WEB_B4-font-weight:500;
--WEB_B4-font-size:12.0px;
--WEB_B4-letter-spacing:0.0px;
--WEB_B4-line-height:16.0px;
--WEB_H4-font-family:Inter;
--WEB_H4-font-weight:500;
--WEB_H4-font-size:16.0px;
--WEB_H4-letter-spacing:0.0px;
--WEB_H4-line-height:24.0px;
--WEB_B3-font-family:Inter;
--WEB_B3-font-weight:500;
--WEB_B3-font-size:14.0px;
--WEB_B3-letter-spacing:0.0px;
--WEB_B3-line-height:20.0px;
--MOBILE_H_H1-font-family:Inter;
--MOBILE_H_H1-font-weight:600;
--MOBILE_H_H1-font-size:48.0px;
--MOBILE_H_H1-letter-spacing:0.0px;
--MOBILE_H_H1-line-height:60.0px;
--MOBILE_B_B1-font-family:Inter;
--MOBILE_B_B1-font-weight:400;
--MOBILE_B_B1-font-size:16.0px;
--MOBILE_B_B1-letter-spacing:0.0px;
--MOBILE_B_B1-line-height:24.0px;
--WEB_B2_bold-font-family:Inter;
--WEB_B2_bold-font-weight:600;
--WEB_B2_bold-font-size:16.0px;
--WEB_B2_bold-letter-spacing:0.0px;
--WEB_B2_bold-line-height:24.0px;
--WEB_H3-font-family:Inter;
--WEB_H3-font-weight:600;
--WEB_H3-font-size:20.0px;
--WEB_H3-letter-spacing:0.0px;
--WEB_H3-line-height:28.0px;
--WEB_H_H4_monospace-font-family:Inter;
--WEB_H_H4_monospace-font-weight:400;
--WEB_H_H4_monospace-font-size:16.0px;
--WEB_H_H4_monospace-letter-spacing:6.4px;
--WEB_H_H4_monospace-line-height:24.0px;
--MOBILE_H_H2-font-family:Inter;
--MOBILE_H_H2-font-weight:600;
--MOBILE_H_H2-font-size:36.0px;
--MOBILE_H_H2-letter-spacing:0.0px;
--MOBILE_H_H2-line-height:48.0px;
--MOBILE_H_H4-font-family:Inter;
--MOBILE_H_H4-font-weight:600;
--MOBILE_H_H4-font-size:20.0px;
--MOBILE_H_H4-letter-spacing:0.0px;
--MOBILE_H_H4-line-height:28.0px;
--MOBILE_B_B2-font-family:Inter;
--MOBILE_B_B2-font-weight:500;
--MOBILE_B_B2-font-size:14.0px;
--MOBILE_B_B2-letter-spacing:0.0px;
--MOBILE_B_B2-line-height:20.0px;
--WEB_B2-font-family:Inter;
--WEB_B2-font-weight:400;
--WEB_B2-font-size:16.0px;
--WEB_B2-letter-spacing:0.0px;
--WEB_B2-line-height:24.0px;
--WEB_H_H4-font-family:Inter;
--WEB_H_H4-font-weight:500;
--WEB_H_H4-font-size:16.0px;
--WEB_H_H4-letter-spacing:0.0px;
--WEB_H_H4-line-height:24.0px;
--WEB_H_H3-font-family:Inter;
--WEB_H_H3-font-weight:600;
--WEB_H_H3-font-size:20.0px;
--WEB_H_H3-letter-spacing:0.0px;
--WEB_H_H3-line-height:28.0px;
--WEB_H_H2-font-family:Inter;
--WEB_H_H2-font-weight:600;
--WEB_H_H2-font-size:52.0px;
--WEB_H_H2-letter-spacing:0.0px;
--WEB_H_H2-line-height:64.0px;
--WEB_B_B2-font-family:Inter;
--WEB_B_B2-font-weight:400;
--WEB_B_B2-font-size:16.0px;
--WEB_B_B2-letter-spacing:0.0px;
--WEB_B_B2-line-height:24.0px;
--WEB_B1-font-family:Inter;
--WEB_B1-font-weight:400;
--WEB_B1-font-size:20.0px;
--WEB_B1-letter-spacing:0.0px;
--WEB_B1-line-height:28.0px;
--WEB_H2-font-family:Inter;
--WEB_H2-font-weight:600;
--WEB_H2-font-size:52.0px;
--WEB_H2-letter-spacing:0.0px;
--WEB_H2-line-height:64.0px;
--WEB_H_H1-font-family:Inter;
--WEB_H_H1-font-weight:700;
--WEB_H_H1-font-size:88.0px;
--WEB_H_H1-letter-spacing:0.0px;
--WEB_H_H1-line-height:100.0px;
--WEB_B_B1-font-family:Inter;
--WEB_B_B1-font-weight:400;
--WEB_B_B1-font-size:20.0px;
--WEB_B_B1-letter-spacing:0.0px;
--WEB_B_B1-line-height:28.0px;
--WEB_B_B3-font-family:Inter;
--WEB_B_B3-font-weight:500;
--WEB_B_B3-font-size:14.0px;
--WEB_B_B3-letter-spacing:0.0px;
--WEB_B_B3-line-height:20.0px;
--WEB_B_B4-font-family:Inter;
--WEB_B_B4-font-weight:500;
--WEB_B_B4-font-size:12.0px;
--WEB_B_B4-letter-spacing:0.0px;
--WEB_B_B4-line-height:16.0px;
--MOBILE_B_B3-font-family:Inter;
--MOBILE_B_B3-font-weight:400;
--MOBILE_B_B3-font-size:12.0px;
--MOBILE_B_B3-letter-spacing:0.0px;
--MOBILE_B_B3-line-height:16.0px;
--MOBILE_H_H6_monospace-font-family:Inter;
--MOBILE_H_H6_monospace-font-weight:400;
--MOBILE_H_H6_monospace-font-size:12.0px;
--MOBILE_H_H6_monospace-letter-spacing:4.800000000000001px;
--MOBILE_H_H6_monospace-line-height:16.0px;
--MOBILE_H_H3-font-family:Inter;
--MOBILE_H_H3-font-weight:600;
--MOBILE_H_H3-font-size:28.0px;
--MOBILE_H_H3-letter-spacing:0.0px;
--MOBILE_H_H3-line-height:36.0px;
--MOBILE_H_H5-font-family:Inter;
--MOBILE_H_H5-font-weight:600;
--MOBILE_H_H5-font-size:16.0px;
--MOBILE_H_H5-letter-spacing:0.0px;
--MOBILE_H_H5-line-height:24.0px;
--MOBILE_H_H6-font-family:Inter;
--MOBILE_H_H6-font-weight:600;
--MOBILE_H_H6-font-size:14.0px;
--MOBILE_H_H6-letter-spacing:0.0px;
--MOBILE_H_H6-line-height:20.0px;
}

.WEB_B4 {
font-family:var(--WEB_B4-font-family);
font-weight:var(--WEB_B4-font-weight);
font-size:var(--WEB_B4-font-size);
letter-spacing:var(--WEB_B4-letter-spacing);
line-height:var(--WEB_B4-line-height);
}

.WEB_H4 {
font-family:var(--WEB_H4-font-family);
font-weight:var(--WEB_H4-font-weight);
font-size:var(--WEB_H4-font-size);
letter-spacing:var(--WEB_H4-letter-spacing);
line-height:var(--WEB_H4-line-height);
}

.WEB_B3 {
font-family:var(--WEB_B3-font-family);
font-weight:var(--WEB_B3-font-weight);
font-size:var(--WEB_B3-font-size);
letter-spacing:var(--WEB_B3-letter-spacing);
line-height:var(--WEB_B3-line-height);
}

.MOBILE_H_H1 {
font-family:var(--MOBILE_H_H1-font-family);
font-weight:var(--MOBILE_H_H1-font-weight);
font-size:var(--MOBILE_H_H1-font-size);
letter-spacing:var(--MOBILE_H_H1-letter-spacing);
line-height:var(--MOBILE_H_H1-line-height);
}

.MOBILE_B_B1 {
font-family:var(--MOBILE_B_B1-font-family);
font-weight:var(--MOBILE_B_B1-font-weight);
font-size:var(--MOBILE_B_B1-font-size);
letter-spacing:var(--MOBILE_B_B1-letter-spacing);
line-height:var(--MOBILE_B_B1-line-height);
}

.WEB_B2_bold {
font-family:var(--WEB_B2_bold-font-family);
font-weight:var(--WEB_B2_bold-font-weight);
font-size:var(--WEB_B2_bold-font-size);
letter-spacing:var(--WEB_B2_bold-letter-spacing);
line-height:var(--WEB_B2_bold-line-height);
}

.WEB_H3 {
font-family:var(--WEB_H3-font-family);
font-weight:var(--WEB_H3-font-weight);
font-size:var(--WEB_H3-font-size);
letter-spacing:var(--WEB_H3-letter-spacing);
line-height:var(--WEB_H3-line-height);
}

.WEB_H_H4_monospace {
font-family:var(--WEB_H_H4_monospace-font-family);
font-weight:var(--WEB_H_H4_monospace-font-weight);
font-size:var(--WEB_H_H4_monospace-font-size);
letter-spacing:var(--WEB_H_H4_monospace-letter-spacing);
line-height:var(--WEB_H_H4_monospace-line-height);
}

.MOBILE_H_H2 {
font-family:var(--MOBILE_H_H2-font-family);
font-weight:var(--MOBILE_H_H2-font-weight);
font-size:var(--MOBILE_H_H2-font-size);
letter-spacing:var(--MOBILE_H_H2-letter-spacing);
line-height:var(--MOBILE_H_H2-line-height);
}

.MOBILE_H_H4 {
font-family:var(--MOBILE_H_H4-font-family);
font-weight:var(--MOBILE_H_H4-font-weight);
font-size:var(--MOBILE_H_H4-font-size);
letter-spacing:var(--MOBILE_H_H4-letter-spacing);
line-height:var(--MOBILE_H_H4-line-height);
}

.MOBILE_B_B2 {
font-family:var(--MOBILE_B_B2-font-family);
font-weight:var(--MOBILE_B_B2-font-weight);
font-size:var(--MOBILE_B_B2-font-size);
letter-spacing:var(--MOBILE_B_B2-letter-spacing);
line-height:var(--MOBILE_B_B2-line-height);
}

.WEB_B2 {
font-family:var(--WEB_B2-font-family);
font-weight:var(--WEB_B2-font-weight);
font-size:var(--WEB_B2-font-size);
letter-spacing:var(--WEB_B2-letter-spacing);
line-height:var(--WEB_B2-line-height);
}

.WEB_H_H4 {
font-family:var(--WEB_H_H4-font-family);
font-weight:var(--WEB_H_H4-font-weight);
font-size:var(--WEB_H_H4-font-size);
letter-spacing:var(--WEB_H_H4-letter-spacing);
line-height:var(--WEB_H_H4-line-height);
}

.WEB_H_H3 {
font-family:var(--WEB_H_H3-font-family);
font-weight:var(--WEB_H_H3-font-weight);
font-size:var(--WEB_H_H3-font-size);
letter-spacing:var(--WEB_H_H3-letter-spacing);
line-height:var(--WEB_H_H3-line-height);
}

.WEB_H_H2 {
font-family:var(--WEB_H_H2-font-family);
font-weight:var(--WEB_H_H2-font-weight);
font-size:var(--WEB_H_H2-font-size);
letter-spacing:var(--WEB_H_H2-letter-spacing);
line-height:var(--WEB_H_H2-line-height);
}

.WEB_B_B2 {
font-family:var(--WEB_B_B2-font-family);
font-weight:var(--WEB_B_B2-font-weight);
font-size:var(--WEB_B_B2-font-size);
letter-spacing:var(--WEB_B_B2-letter-spacing);
line-height:var(--WEB_B_B2-line-height);
}

.WEB_B1 {
font-family:var(--WEB_B1-font-family);
font-weight:var(--WEB_B1-font-weight);
font-size:var(--WEB_B1-font-size);
letter-spacing:var(--WEB_B1-letter-spacing);
line-height:var(--WEB_B1-line-height);
}

.WEB_H2 {
font-family:var(--WEB_H2-font-family);
font-weight:var(--WEB_H2-font-weight);
font-size:var(--WEB_H2-font-size);
letter-spacing:var(--WEB_H2-letter-spacing);
line-height:var(--WEB_H2-line-height);
}

.WEB_H_H1 {
font-family:var(--WEB_H_H1-font-family);
font-weight:var(--WEB_H_H1-font-weight);
font-size:var(--WEB_H_H1-font-size);
letter-spacing:var(--WEB_H_H1-letter-spacing);
line-height:var(--WEB_H_H1-line-height);
}

.WEB_B_B1 {
font-family:var(--WEB_B_B1-font-family);
font-weight:var(--WEB_B_B1-font-weight);
font-size:var(--WEB_B_B1-font-size);
letter-spacing:var(--WEB_B_B1-letter-spacing);
line-height:var(--WEB_B_B1-line-height);
}

.WEB_B_B3 {
font-family:var(--WEB_B_B3-font-family);
font-weight:var(--WEB_B_B3-font-weight);
font-size:var(--WEB_B_B3-font-size);
letter-spacing:var(--WEB_B_B3-letter-spacing);
line-height:var(--WEB_B_B3-line-height);
}

.WEB_B_B4 {
font-family:var(--WEB_B_B4-font-family);
font-weight:var(--WEB_B_B4-font-weight);
font-size:var(--WEB_B_B4-font-size);
letter-spacing:var(--WEB_B_B4-letter-spacing);
line-height:var(--WEB_B_B4-line-height);
}

.MOBILE_B_B3 {
font-family:var(--MOBILE_B_B3-font-family);
font-weight:var(--MOBILE_B_B3-font-weight);
font-size:var(--MOBILE_B_B3-font-size);
letter-spacing:var(--MOBILE_B_B3-letter-spacing);
line-height:var(--MOBILE_B_B3-line-height);
}

.MOBILE_H_H6_monospace {
font-family:var(--MOBILE_H_H6_monospace-font-family);
font-weight:var(--MOBILE_H_H6_monospace-font-weight);
font-size:var(--MOBILE_H_H6_monospace-font-size);
letter-spacing:var(--MOBILE_H_H6_monospace-letter-spacing);
line-height:var(--MOBILE_H_H6_monospace-line-height);
}

.MOBILE_H_H3 {
font-family:var(--MOBILE_H_H3-font-family);
font-weight:var(--MOBILE_H_H3-font-weight);
font-size:var(--MOBILE_H_H3-font-size);
letter-spacing:var(--MOBILE_H_H3-letter-spacing);
line-height:var(--MOBILE_H_H3-line-height);
}

.MOBILE_H_H5 {
font-family:var(--MOBILE_H_H5-font-family);
font-weight:var(--MOBILE_H_H5-font-weight);
font-size:var(--MOBILE_H_H5-font-size);
letter-spacing:var(--MOBILE_H_H5-letter-spacing);
line-height:var(--MOBILE_H_H5-line-height);
}

.MOBILE_H_H6 {
font-family:var(--MOBILE_H_H6-font-family);
font-weight:var(--MOBILE_H_H6-font-weight);
font-size:var(--MOBILE_H_H6-font-size);
letter-spacing:var(--MOBILE_H_H6-letter-spacing);
line-height:var(--MOBILE_H_H6-line-height);
}

