<!-- Popup Markets Modal -->
<div class="modal fade" id="marketsModal" tabindex="-1" aria-labelledby="marketsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: #11151F; border: none; overflow: hidden; border-radius: 0;">
      <div class="modal-header border-0">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <div style="width: 100%; display: flex; flex-direction: column;">
          <!-- Icon in left top corner -->
          <div style="padding: 20px 0 0 20px;">
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M20 5.83398L5.83301 14.584L20 23.334L34.1663 14.584L20 5.83398Z" stroke="#